{% set badges = badges|default(null) %}
{% set logoImgSrc = logoImgSrc|default(null) %}
{% set accentColor = accentColor|default(null) %}
{% set _accentColorClasses = accentColor ? 'border-b-3 border-primary' : '' %}
{% set _missingImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MDAiIGhlaWdodD0iNDAwIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjNDE0MTQxIiBkPSJNMCAwaDYwMHY0MDBIMHoiLz48cGF0aCBmaWxsPSIjQjJCMkIyIiBkPSJNMzQ0IDE1NmgtODhhOCA4IDAgMCAwLTggOHY3MmE4IDggMCAwIDAgOCA4aDg4YTggOCAwIDAgMCA4LTh2LTcyYTggOCAwIDAgMC04LThabTAgOHY1MS4zNzVsLTEzLjAzNS0xMy4wM2E4IDggMCAwIDAtMTEuMzE1IDBsLTEwIDEwLTIyLTIyYTggOCAwIDAgMC0xMS4zMSAwTDI1NiAyMTAuNjg1VjE2NGg4OFptLTg4IDU4IDI2LTI2IDQwIDQwaC02NnYtMTRabTg4IDE0aC0xMC42ODVsLTE4LTE4IDEwLTEwTDM0NCAyMjYuNjlWMjM2Wm0tMzYtNTBhNS45OTggNS45OTggMCAwIDEgNy4xNzEtNS44ODUgNi4wMDcgNi4wMDcgMCAwIDEgNC43MTQgNC43MTQgNi4wMDYgNi4wMDYgMCAwIDEtMi41NTIgNi4xNkE1Ljk5OCA1Ljk5OCAwIDAgMSAzMDggMTg2WiIvPjwvc3ZnPg==" %}
{% set img = img|default(null) %}

{% set attributeCollection = attributes|default({})|collect() %}
{% set _additionalClasses = attributeCollection.get('class') %}
{% set _additionalAttributes = attributeCollection.forget(['class']).toArray() %}

<div data-component="molecules.card"
     class="bg-white {{ href is defined and href is not empty ? 'hover:bg-white/65 hover:cursor-pointer' }} group relative flex flex-col {{ _additionalClasses }}" {{ attributesToHtml(_additionalAttributes) }}
>

    <div class="relative overflow-hidden {{ _accentColorClasses }}">
        {% if badges|length %}
            <div class=" absolute right-0 top-4 max-w-2/3 z-10 flex flex-col space-y-1 items-end justify-end">
                {% for badge in badges %}
                    <div>
                        <div class="inline-flex items-center space-x-2 text-white {{ loop.first ? 'bg-primary': 'bg-cobblestone-800'}} px-2 py-1.5 ">
                            {% if badge.iconName %}
                                {{ render('atoms.icon', {name: badge.iconName, size: 'sm'}) }}
                            {% endif %}
                            <div title="{{ badge.text }}"
                                 class="uppercase whitespace-nowrap text-xs truncate font-semibold">{{ badge.text }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if img %}
            <figure class="relative">
                <img src="{{ img.src }}" width="{{ img.width ?? '' }}" height="{{ img.height ?? '' }}"
                     alt="{{ img.alt ?? '' }}"
                     class="w-full">
                {% if img.caption is defined and img.caption|length %}
                    {{ render('atoms.figcaption', {
                        caption: img.caption,
                    }) }}
                {% endif %}
            </figure>
        {% endif %}
    </div>
    <div class="p-3">
        {% if logoImgSrc %}
            <img src="{{ logoImgSrc }}" alt="Logo" class="mb-3 mt-2 h-5">
        {% endif %}
        {% if href is defined and href is not empty %}
            <a href="{{ href }}"
               class="before:content-[''] before:absolute before:inset-0 break-word group-hover:cursor-pointer">{{ content }}</a>
        {% else %}
            {{ content }}
        {% endif %}

    </div>
    {{ footerHtml|default('')|raw }}
</div>