{% set badge = badge|default({text: null, iconName: null}) %}

{% set attributeCollection = attributes|default({})|collect() %}
{% set additionalClasses = attributeCollection.get('class') %}
{% set additionalAttributes = attributeCollection.forget(['class']).toArray() %}

<div data-component="molecules.card" class="bg-white hover:bg-white/65 group inline-block relative flex flex-col {{ additionalClasses }}" {{ attributesToHtml(additionalAttributes) }}>
    <div class="relative overflow-hidden">
        {% if badge.text %}
            <div class="flex items-center space-x-2 absolute right-0 top-4 max-w-2/3 text-white bg-primary px-2 py-1.5">
                {% if badge.iconName %}
                    {{ render('atoms.icon', {name: badge.iconName, size: 'sm'}) }}
                {% endif %}
                <div title="{{ badge.text }}" class="uppercase whitespace-nowrap text-xs truncate font-semibold">{{ badge.text }}</div>
            </div>
        {% endif %}
        <img src="{{ img.src ?? 'https://picsum.photos/300/200' }}" width="300" height="200" alt="{{ img.alt ?? '' }}"
             class="w-full">
    </div>
    <div class="p-3">
        {{ render('atoms.logo', {brand: 'MVB', attributes: {class: 'mb-3 mt-2 h-5'}}) }}
        <a href="{{ href }}" class="text-base before:content-[''] before:absolute before:inset-0 break-word">{{ content }}</a>
    </div>
    {{ footerHtml|default('')|raw }}
</div>
