{% set attributeCollection = attributes|default({})|collect() %}
{% set additionalClasses = attributeCollection.get('class') %}
{% set additionalAttributes = attributeCollection.forget(['class']).toArray() %}

<div {{ attributesToHtml(additionalAttributes) }}data-component="molecules.support-scroll-spy"
     class="relative {{ additionalClasses }}">

    <div class="lg:top-[6.875rem] min-[96rem]:top-0 lg:sticky">

        {% if contentHtml is defined and contentHtml %}
            {{ render('atoms.paragraph', {
                contentHtml: contentHtml,
                attributes: { class: 'pb-8 pr-6 [&_p]:lg:!text-xl'}
            }) }}
        {% endif %}

        <div class="hidden lg:block">
            <nav id="support-in-page-nav" class="list-group scrollspy-nav">
                <ul class="text-right border-r border-primary text-base space-y-2">
                    {% for item in items %}
                        <li class="{{ item.level == 2 ? 'text-cobblestone-500' : '' }}">
                            <a href="#{{ item.label|replace({' ':'-'})|lower }}"
                               class="transition-all pr-4 inline-block border-r-4 border-transparent data-[active=true]:border-primary hover:text-primary scroll-spy-link hyphens-auto">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

    </div>

</div>