{% set dates = dates|default([])|filter((v) => v is not null) %}

{% set footerHtml %}
    <div class="flex justify-between px-3 pb-3 pt-2 isolate">
        <div class="flex items-center text-sm text-cobblestone-600 whitespace-nowrap space-x-1">
            {% if dates|length > 0 %}

                {{ render('atoms.event-time', {date: dates|first}) }}

                {% if dates|length > 1 %}

                    {% set contentHtml %}
                        <p class="font-semibold mb-2">{{ 'All dates'|t('mvbdesignsystem') }}:</p>
                        <ul class="mb-2">
                            {% for dateObject in dates %}
                                <li>
                                    {{ render('atoms.event-time', {date: dateObject}) }}
                                </li>
                            {% endfor %}
                        </ul>
                        <p>{{ 'All dates and times in timezone Europe/Berlin'|t('mvbdesignsystem') }}</p>
                    {% endset %}

                    {% set triggerHtml %}
                        <span class="z-10 bg-cobblestone-50 px-1.5 py-0.5 rounded">
                            +&thinsp;{{ dates|length - 1 }}<span class="sr-only">{{ "further dates"|t("mvbdesignsystem") }}</span>
                        </span>
                    {% endset %}

                    {{ render('atoms.tooltip', {
                        triggerHtml: triggerHtml,
                        contentHtml: contentHtml
                    }) }}

                {% endif %}
            {% endif %}
        </div>
    </div>
{% endset %}

{{ render('molecules.card', {
    content: content,
    href: href,
    badge: badge,
    img: img|default(null),
    footerHtml: footerHtml,
    attributes: attributes|default({}),
}) }}
