<div class="swiper relative isolate mb-8" data-component="organisms.hero-slider">

    {% if slides|length > 1 %}
        <div class="absolute top-0 right-0 md:container md:top-auto md:bottom-0 md:left-1/2 md:right-auto md:-translate-x-1/2 z-10 md:flex md:justify-end pointer-events-none">
            <div class="text-white bg-primary flex flex-col md:flex-row items-center justify-center md:p-2 pointer-events-auto">
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'pause-circle',
                    },
                    attributes: {
                        'aria-label': 'Pause slideshow',
                        'data-component-part': 'hero-slider.play',
                        class: 'text-lg md:text-xl w-12 h-12 focus-visible:z-20'
                    }
                }) }}
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'arrow-left',
                    },
                    attributes: {
                        'aria-label': 'Previous slide',
                        'data-component-part': 'hero-slider.prev',
                        class: 'text-lg md:text-xl w-12 h-12 focus-visible:z-20'
                    }
                }) }}
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'arrow-right',
                    },
                    attributes: {
                        'aria-label': 'Next slide',
                        'data-component-part': 'hero-slider.next',
                        class: 'text-lg md:text-xl w-12 h-12 focus-visible:z-20'
                    }
                }) }}
            </div>
        </div>
    {% endif %}

    <div class="swiper-wrapper">
        {% for slide in slides %}
            <div class="swiper-slide">
                <div class="h-[65dvh] lg:h-[60dvh] lg:min-h-[400px] relative md:pb-8">
                    {% set showTextBox = (slide.headingText is defined and slide.headingText is not empty) or ( slide.text is defined and slide.text is not empty) or ( slide.link.href is defined and slide.link is not empty) %}

                    {% if showTextBox %}

                        {% set opaqueBackground = slide.opaqueBackground is defined and slide.opaqueBackground ? true : false%}
                        <div class="md:container absolute bottom-0 left-0 right-0 md:left-1/2 md:right-auto md:-translate-x-1/2">
                            <div class="{{ opaqueBackground ? 'bg-primary' : 'bg-primary/90'}} p-4 md:p-6 lg:p-8 text-white w-full md:w-[475px] space-y-4 lg:space-y-6">
                                {% if slide.headingText is defined and slide.headingText %}
                                    <div>
                                        {{ render('atoms.heading', {text: slide.headingText, level: 'span', visualLevel: 'h2'}) }}
                                    </div>
                                {% endif %}
                                {% if slide.text is defined and slide.text is not empty %}
                                    <p class="text-base lg:text-lg">{{ slide.text }}</p>
                                {% endif %}
                                {% if slide.link is defined and slide.link is not empty %}
                                    {{ render('atoms.link', {
                                        label: slide.link.label ?? slide.link.href,
                                        href: slide.link.href,
                                        target: slide.link.target|default('_self'),
                                        variant: 'white',
                                        icon: {
                                            name: 'arrow-right',
                                            position: 'right'
                                        }
                                    }) }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if slide.img is not empty %}
                        <figure class="h-full w-full relative -z-10">

                            {% set imagePosition = slide.img.position ?? 'center' %}
                            {% set imagePositionClasses = {
                                'top': 'object-top',
                                'bottom': 'object-bottom',
                                'center': 'object-center'
                            }[imagePosition] ?? 'object-center' %}

                            <img class="object-cover {{ imagePositionClasses }} w-full h-full" alt="{{ slide.img.alt }}" src="{{ slide.img.src }}">

                            {% if slide.img.caption is defined and slide.img.caption|length %}
                                {{ render('atoms.figcaption', {
                                    caption: slide.img.caption,
                                }) }}
                            {% endif %}
                        </figure>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
