<nav class="bg-white px-4" data-component="molecules.navigation-bar" role="navigation" aria-label="Main menu">
    <div class="container mx-auto flex flex-wrap lg:flex-nowrap justify-between lg:justify-start items-center group">

        {% if logo is defined and logo.src|length %}
            {{ render('atoms.logo', {
                alt: logo.alt ?? '',
                src: logo.src,
                width: logo.width,
                height: logo.height,
                noSpace: true,
                monochrome: logo.monochrome ?? null,
                whiteInverted: logo.whiteInverted ?? null,
                href: logo.href is defined ? logo.href : null,
                attributes: logo.attributes|default({ additionalImgClasses: 'h-12 w-auto' })
            }) }}
            {% else %}
                <a href="/" class="block ">
                    <img height="45"  alt="Logo" src="{{ logoImgSrc|default('https://mvb-online.de/assets/logos/MVB.png') }}">
                    <span class="sr-only">Back to homepage</span>
                </a>
        {% endif %}

        <div class="lg:hidden ml-auto">
            {{ render('atoms.button', {
                label: '',
                variant: 'ghost',
                noSpace: true,
                icon: {
                    name: 'bars'
                },
                attributes: {
                    'aria-label': 'Toggle navigation menu',
                    'data-component-part': 'navigation-bar.burger-button',
                    class: 'text-xl py-3 w-12 '
                }
            }) }}
        </div>

        <div data-component-part="navigation-bar.menu" class="w-full order-5 hidden lg:block lg:order-2">
            <ul class="lg:flex lg:justify-end">
                {% for item in items %}

                    {% set hasChildren = item.children is defined and item.children|length %}

                    <li class="relative" data-component-part="navigation-bar.menu-item">

                        {% set isActive = item.isActive is defined and item.isActive %}
                        {% set hasActiveChild = item.children is defined and collect(item.children).some(child => child.isActive is defined and child.isActive) %}

                        {% set attributes = {
                            'aria-haspopup': hasChildren ? 'true' : 'false',
                            'data-toggles-submenu': hasChildren ? 'true' : 'false',
                            'class': [
                                'max-w-[230px] [&>span]:truncate',
                                isActive or hasActiveChild ? 'font-semibold' : '',
                            ]|join(' ')
                        } %}

                        {% if hasChildren %}
                            {% set attributes = attributes|merge({
                                'aria-expanded': 'false',
                            }) %}
                        {% endif %}

                        {{ render('atoms.button', {
                            label: item.label,
                            href: hasChildren ? null : item.href,
                            variant: 'ghost',
                            icon: hasChildren ? {
                                name: 'angle-down',
                                position: 'right'
                            } : null,
                            attributes: attributes
                        }) }}

                        {% if item.children is defined and item.children|length %}
                            <ul class="lg:absolute hidden data-[state=open]:block bg-white z-10"
                                data-component-part="main-navigation.sub-menu">
                                {% for child in item.children %}
                                    <li class="pl-2 lg:pl-0">

                                        {% set isActive = child.isActive is defined and child.isActive %}

                                        {{ render('atoms.button', {
                                            label: child.label,
                                            href: child.href,
                                            variant: 'ghost',
                                            textAlign: 'left',
                                            attributes: {
                                                class: [
                                                    'whitespace-nowrap lg:w-full lg:max-w-[280px] [&_span]:truncate',
                                                    isActive ? 'font-semibold' : ''
                                                ]|join(' '),
                                            }
                                        }) }}

                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if languages is defined and languages|length %}
                    <li class="border-t border-cobblestone-100">
                        <div class="lg:hidden">
                            {{ render('molecules.language-switcher', {
                                languages: languages
                            }) }}
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>

        {% if languages is defined and languages|length %}
            <div class="order-3 hidden lg:block">
                {{ render('molecules.language-switcher', {
                    languages: languages
                }) }}
            </div>
        {% endif %}

        <div class="flex space-x-1 lg:order-5 py-4">



            {% if additionalButtons is defined and additionalButtons is not empty  %}
                <div class="shrink-0">
                    {% for button in additionalButtons %}
                        {{ render('atoms.button', {
                            label: button.label,
                            href: button.href,
                            target: button.target|default('_self'),
                            variant: 'primary',
                            icon: {
                                position: 'right',
                                name: button.iconName ?? 'null'
                            },
                            attributes: {
                                class: 'text-xl shrink-0'
                            }
                        }) }}
                    {% endfor %}
                </div>
            {% endif %}

            {{ render('atoms.button', {
                label: '',
                variant: 'primary',
                noSpace: true,
                icon: {
                    name: 'search'
                },
                attributes: {
                    'aria-label': 'Search',
                    class: 'text-xl py-3 w-12 shrink-0'
                }
            }) }}

        </div>





    </div>

</nav>
