{% set isLink = href is defined and href != null %}
{% set noSpace = noSpace|default(false) %}
{% set target = target|default('_blank') %}
{% set monochrome = monochrome is defined and monochrome %}
{% set whiteInverted = whiteInverted is defined and whiteInverted %}

{% set attributeCollection = attributes|default({})|collect() %}
{% set _additionalClasses = attributeCollection.get('class') %}
{% set _additionalImgClasses = attributeCollection.get('additionalImgClasses')%}
{% set _additionalAttributes = attributeCollection.forget(['class', 'additionalImgClasses']).toArray() %}

{% set baseClasses = [
    'flex items-center justify-center ',
    noSpace ? '' : 'p-4',
    monochrome ? 'grayscale' : '',
    whiteInverted ? 'invert brightness-0' : '',
]|join(' ') %}

{% if isLink %}
    <figure class="{{ baseClasses }} {{ _additionalClasses }}" {{ attributesToHtml(_additionalAttributes) }}>
        <a href="{{ href }}" class="block w-full h-full" target="{{ target }}">
            <img src="{{ src }}" width="{{ width }}" height="{{ height }}" alt="{{ alt ?? '' }}" class="{{ _additionalImgClasses }}"/>
        </a>
    </figure>
{% endif %}

{% if not isLink %}
    <figure class="{{ baseClasses }} {{ _additionalClasses }}">
        <img src="{{ src }}" width="{{ width }}" height="{{ height }}" alt="{{ alt ?? '' }}" class="{{ _additionalImgClasses }}"/>
    </figure>
{% endif %}