<div class="swiper relative isolate mb-16" data-component="organisms.content-slider">

    {% if slides|length > 1 %}
        <div class="absolute right-0 top-auto bottom-0 right-6 sm:right-8 z-10 md:flex md:justify-end">
            <div class="text-white bg-primary flex flex-row items-center justify-center md:p-2 ">
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'pause-circle',
                    },
                    attributes: {
                        'aria-label': 'Pause slideshow',
                        'data-component-part': 'content-slider.play',
                        class: 'text-lg md:text-xl w-12 h-12'
                    }
                }) }}
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'arrow-left',
                    },
                    attributes: {
                        'aria-label': 'Previous slide',
                        'data-component-part': 'content-slider.prev',
                        class: 'text-lg md:text-xl w-12 h-12'
                    }
                }) }}
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'arrow-right',
                    },
                    attributes: {
                        'aria-label': 'Next slide',
                        'data-component-part': 'content-slider.next',
                        class: 'text-lg md:text-xl w-12 h-12'
                    }
                }) }}
            </div>
        </div>
    {% endif %}

    <div class="swiper-wrapper">
        {% for slide in slides %}
            <div class="swiper-slide">
                <div class="relative pb-6 sm:pb-8">
                    <div class="grid sm:grid-cols-2">
                        {% if slide.img is not empty %}
                            <figure class="h-full w-full relative -z-10">
                                <img class="object-cover w-full h-full" alt="{{ slide.img.alt }}" src="{{ slide.img.src }}">
                                {% if slide.img.caption %}
                                    <figcaption
                                            class="absolute bg-cobblestone/50 z-10 -rotate-90 translate-x-full origin-bottom-left right-0 px-2 py-1 bottom-0 text-sm text-white whitespace-nowrap truncate max-w-[240px]">
                                        {{ slide.img.caption }}
                                    </figcaption>
                                {% endif %}
                            </figure>
                        {% endif %}
                        <div class="bg-white pt-6 pb-8 px-6 md:p-8">
                            {% if slide.quote is defined and slide.quote|length %}
                                <blockquote>
                                    <p class="text-3xl italic font-bold mb-6 before:content-['„'] after:content-['“']">{{ slide.quote.text|default('') }}</p>
                                    <cite>{{ slide.quote.cite }}</cite>
                                </blockquote>
                            {% endif %}
                            {% if slide.content is defined and slide.content|length %}
                                {{ render('atoms.heading', {
                                    text: slide.content.heading|default(''),
                                    level:  slide.content.headingLevel|default('h2'),
                                    attributes: {
                                        class: 'mb-4'
                                    }
                                }) }}
                               <p>{{ slide.content.text|raw }}</p>
                                {{ render('atoms.link', {
                                    label: slide.content.link.label|default(''),
                                    href: slide.content.link.href|default('#'),
                                    variant: slide.content.link.variant|default('primary'),
                                    icon: {
                                        position: 'right',
                                        name: 'arrow-right',
                                    },
                                    attributes: {
                                        class: 'mt-6'
                                    }
                                }) }}


                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
