<div class="swiper relative isolate mb-16" data-component="organisms.content-slider">

    {% if slides|length > 1 %}
        <div class="absolute right-0 top-auto bottom-0 right-6 sm:right-8 z-10 md:flex md:justify-end">
            <div class="text-white bg-primary flex flex-row items-center justify-center md:p-2 ">
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'pause-circle',
                    },
                    attributes: {
                        'aria-label': 'Pause slideshow',
                        'data-component-part': 'content-slider.play',
                        class: 'text-lg md:text-xl w-12 h-12 focus-visible:z-20'
                    }
                }) }}
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'arrow-left',
                    },
                    attributes: {
                        'aria-label': 'Previous slide',
                        'data-component-part': 'content-slider.prev',
                        class: 'text-lg md:text-xl w-12 h-12 focus-visible:z-20'
                    }
                }) }}
                {{ render('atoms.button', {
                    variant: 'primary',
                    noSpace: true,
                    icon: {
                        name: 'arrow-right',
                    },
                    attributes: {
                        'aria-label': 'Next slide',
                        'data-component-part': 'content-slider.next',
                        class: 'text-lg md:text-xl w-12 h-12 focus-visible:z-20'
                    }
                }) }}
            </div>
        </div>
    {% endif %}

    <div class="swiper-wrapper">
        {% for slide in slides %}
            <div class="swiper-slide">
                <div class="relative pb-6 sm:pb-8">
                    <div class="grid md:grid-cols-2">
                        {% if slide.img is not empty %}
                            <figure class="h-full w-full relative -z-10">
                                <img class="object-cover w-full h-full" alt="{{ slide.img.alt }}"
                                     src="{{ slide.img.src }}">

                                {% if slide.img.caption is defined and slide.img.caption|length %}
                                    {{ render('atoms.figcaption', {
                                        caption: slide.img.caption,
                                    }) }}
                                {% endif %}

                            </figure>
                        {% endif %}
                        <div class="bg-white pt-6 pb-8 px-6 md:p-8">

                            {% if slide.content is defined and slide.content|length %}

                                {% if slide.content.cite is defined and slide.content.cite|length %}
                                    <blockquote>
                                        {% if slide.content.heading is defined and slide.content.heading|length %}
                                            <p class="text-3xl italic font-bold mb-6">{{ slide.content.heading|default('') }}</p>
                                        {% endif %}
                                        {% if slide.content.cite is defined and slide.content.cite|length %}
                                            <cite>{{ slide.content.cite }}</cite>
                                        {% endif %}
                                    </blockquote>
                                    {% if slide.content.text is defined and slide.content.text|length %}
                                        <p class="mt-4">{{ slide.content.text|raw }}</p>
                                    {% endif %}

                                {% else %}

                                    <p class="text-3xl italic font-bold mb-6">{{ slide.content.heading|default('') }}</p>

                                    {% if slide.content.text is defined and slide.content.text|length %}
                                        <p>{{ slide.content.text|raw }}</p>

                                    {% endif %}
                                {% endif %}

                                {% if slide.content.link is defined and slide.content.link.href|length %}
                                    {{ render('atoms.link', {
                                        label: slide.content.link.label ?? slide.content.link.href,
                                        href: slide.content.link.href ?? null,
                                        variant: slide.content.link.variant|default('primary'),
                                        icon: {
                                            position: 'right',
                                            name: 'arrow-right',
                                        },
                                        attributes: {
                                            class: 'mt-6'
                                        }
                                    }) }}
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
