{{ render('molecules.support-navigation', {items:support.items}) }}

{{ render('molecules.navigation-bar', {items: navigationItems, languages: languages}) }}
{{ render('molecules.support-navigation-bar') }}
{{ render('organisms.hero-slider', {slides: heroSlides}) }}


<div class="container mx-auto space-y-16 pb-16">
    {{ render('atoms.heading', {text: 'MVB – Wir bringen Bücher ins Ziel', attributes: {class: 'mb-12'}}) }}

    {{ render('atoms.paragraph', {
        contentHtml: welcomeText
    }) }}

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
        <div class="w-full mb-8 col-span-2">
            {{ render('atoms.lined-heading', {text: 'Aktuelles', level: 'h3', attributes: {class: 'mb-8'}}) }}
            <div class="grid md:grid-cols-2 gap-6 md:gap-8">
                {% for newsItem in news %}
                    {{ render('molecules.card', newsItem) }}
                {% endfor %}
            </div>
        </div>
        <div class="w-full">
            {{ render('atoms.lined-heading', {text: 'Termine', level: 'h3', attributes: {class: 'mb-8'}}) }}
            {{ render('molecules.event-list', {events: eventItems}) }}
        </div>
    </div>

    {{ render('molecules.logo-cloud', {
        items: logoCloud.items,
        heading: 'Unsere Partner',
        size: 'large'
    }) }}

    {{ render('organisms.content-slider', {
        slides: contentSlides.slides,
    }) }}

    {{ render('molecules.hint', {
        heading: hint.heading,
        headingLevel: hint.headingLevel,
        title: hint.title,
        titleLevel: hint.titleLevel,
        text: hint.text,
        icon:hint.icon,
        button:hint.button,
        attributes: hint.attributes
    }) }}

</div>

{{ render('molecules.footer', {
    logo: footer.logo,
    footerColumns: footer.footerColumns,
    showMVBLogo: footer.showMVBLogo,
    contactHeading: footer.contactHeading,
    contactItems: footer.contactItems,
    socialItems: footer.socialItems,
    productHeading: footer.productHeading,
    productItems: footer.productItems,
    metaItems: footer.metaItems
}) }}
