{% set isLink = href is defined %}
{% set tag = isLink ? 'a' : 'button' %}
{% set type = type ?? 'button' %}

{% set attributeCollection = attributes|default({})|collect() %}
{% set additionalClasses = attributeCollection.get('class') %}
{% set additionalAttributes = attributeCollection.forget(['class', 'href', 'type']).toArray() %}

{% set baseClasses = 'cursor-pointer inline-flex items-center justify-center px-4 py-2 text-base focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 transition-colors duration-150' %}

{% set variantClasses = {
    'primary': 'bg-primary text-white uppercase hover:bg-primary-600 active:bg-primary-700 focus-visible:ring-cobblestone-400',
    'secondary': 'bg-[#FF81EE]'
}[variant|default('primary')] %}

{% if isLink %}
    <a data-component="atoms.button"
       class="{{ baseClasses }} {{ variantClasses }} {{ additionalClasses }}"
       {{ attributesToHtml(additionalAttributes) }}
       href="{{ href }}"
       role="button"
    >
        {{ label }}
    </a>
{% endif %}

{% if not isLink %}
    <button data-component="atoms.button"
            class="{{ baseClasses }} {{ variantClasses }} {{ additionalClasses }}"
            {{ attributesToHtml(additionalAttributes) }}
            type="{{ type }}"
    >
        {{ label }}
    </button>
{% endif %}
