{% set icon = icon is defined and icon.name is defined ? icon : null %}
{% set button = button is defined and button.href is defined ? button : null %}
{% set variant = variant|default('primary') %}

{% set variantClasses = {
    'primary': 'bg-primary',
    'info': 'bg-monza-100',
    'warning': 'bg-monza-400',
    'success': 'bg-green-200',
}[variant] %}

{% set attributeCollection = attributes|default({})|collect() %}
{% set additionalClasses = attributeCollection.get('class') %}
{% set additionalAttributes = attributeCollection.forget(['class']).toArray() %}

<div data-component="molecules.hint">

    {% if heading is defined and heading|length %}
        {{ render('atoms.lined-heading', {text: heading, level: headingLevel|default('h3'), attributes: {class: 'mb-6'}}) }}
    {% endif %}

    <div class="p-6 {{ variantClasses }} {{ additionalClasses }}"
            {{ attributesToHtml(additionalAttributes) }}>
        <div class="flex flex-col sm:flex-row justify-start sm:items-start space-x-6 space-y-4 sm:space-y-0">

            {% if icon %}
                {{ render('atoms.icon', {name: icon.name, attributes: {class: 'text-3xl sm:text-5xl'}}) }}
            {% endif %}

            <div class="space-y-2">
                {% if title is defined and title %}
                    {{ render('atoms.heading', {
                        text: title,
                        level: titleLevel|default('h4'),
                    }) }}
                {% endif %}

                {{ text|raw }}

            </div>
            {% if button %}
                <div class="ml-auto sm:self-end">
                    {{ render('atoms.button', {
                        label: button.label,
                        href: button.href,
                        variant: 'secondary',
                        textAlign: 'left',
                        icon: {
                            position: 'right',
                            name: "arrow-right",
                        },
                        attributes: {
                            class: 'whitespace-nowrap',
                        }
                    }) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>