{% do field.setParameters({
    attributes: {
        container: {
            "+class": "freeform-file-upload-container",
            "data-field-id": field.id,
            "data-field-handle": field.handle
        },
        input: {
            "+class": "freeform-file-upload-input text-base !bg-transparent !outline-none focus:!outline-none !p-0 file:bg-white file:py-2 file:px-3 file:border file:border-cobblestone-600 file:font-normal file:cursor-pointer file:mr-3 hover:file:bg-cobblestone-100 focus:file:outline-2 focus:file:-outline-offset-2 focus:file:outline-persian-blue-400 !w-auto",
            "-class": "w-full"
        }
    }
}) %}

{{ field.renderContainerOpeningTag }}

  {{ field.renderLabel }}
  {{ field.renderInput }}

  {# <p class="freeform-file-name-display mt-1 text-sm">{{ "No files selected"|t('freeform') }}</p> #}

  {{ field.renderInstructions }}
  {{ field.renderErrors }}

{{ field.renderContainerClosingTag }}
