{{ field.renderContainerOpeningTag }}

  {{ field.renderLabel }}
  {{ field.renderInstructions }}
  <div class="mt-1 space-y-1{% if field.oneLine %} sm:flex sm:items-center sm:space-y-0 sm:space-x-5{% endif %}">
  {% for index, option in field.options %}
    <div class="flex items-center">
      <input type="radio"
        name="{{ field.handle }}"
        value="{{ option.value }}"
        id="{{ field.idAttribute }}-{{ index }}"
        class="{{ field.attributes.input.get("class") }}{{ field.hasErrors ? ' outline-1 -outline-offset-1 outline-red-600' }}"
        {{ option.value == field.value ? "checked" }}
      />
      <label for="{{ field.idAttribute }}-{{ index }}" class="{{ field.attributes.optionLabel.get("class") }}{{ field.hasErrors ? ' text-red-600' }}">
        {{ field.translateOptionLabel(option) }} {# Use this for form builder translations #}
        {# {{ option.label|t('freeform')|raw }} #} {# Use this instead if using static translations #}
      </label>
    </div>
  {% endfor %}
  {{ field.renderErrors }}

{{ field.renderContainerClosingTag }}