{% set inverted = inverted|default(false) %}

{% set triggerClasses = inverted ? 'bg-cobblestone-700 text-cobblestone-100' : 'bg-cobblestone-50 text-cobblestone-700' %}

{% set contentHtml %}
    <p class="font-semibold mb-2">{{ 'All dates'|t('mvbdesignsystem') }}:</p>
    <ul class="mb-2">
        {% for dateObject in dates %}
            <li>
                {{ render('atoms.event-time', {date: dateObject}) }}
            </li>
        {% endfor %}
    </ul>
    <p>{{ 'All dates and times in timezone Europe/Berlin'|t('mvbdesignsystem') }}</p>
{% endset %}

{% set triggerHtml %}
    <span class="z-10 px-1.5 py-0.5 rounded {{ triggerClasses }}">
        +&thinsp;{{ dates|length }}<span class="sr-only">{{ "further dates"|t("mvbdesignsystem") }}</span>
    </span>
{% endset %}

{{ render('atoms.tooltip', {
    triggerHtml: triggerHtml,
    contentHtml: contentHtml,
    inverted: inverted,
}) }}
