<div class="help-side-navigation bg-cobblestone-800 text-white fixed top-0 bottom-0 left-0 right-auto min-[96rem]:relative w-[90%] min-[480px]:w-md min-[96rem]:w-full z-[1000] shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.125)] md:shadow-[8px_0_12px_-4px_rgba(0,0,0,0.25)] min-[96rem]:shadow-none hidden data-[open='true']:fixed data-[open='true']:block min-[96rem]:block"
     data-component="molecules.support-navigation">
    <div class="sticky top-0">
        <div class="flex justify-end min-[96rem]:justify-between items-center px-4 pt-3 pb-2 gap-x-2">
            <form id="search-form" action="{{ searchSupport.url ?? '' }}" role="search"
                  class="min-[96rem]:w-full max-w-md hidden min-[96rem]:block">
                <label for="support-search--navigation" class="sr-only">{{ searchLabel ?? 'Search' }}</label>
                <div class="relative flex items-center">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <i class="fal fa-search text-white" aria-hidden="true"></i>
                    </span>
                    <input
                            id="support-search--navigation"
                            name="query"
                            type="text"
                            placeholder="{{ searchTerm ?? 'Search term' }}"
                            aria-label="{{ searchLabel ?? 'Search' }}"
                            value="{{ searchValue ?? '' }}"
                            class="w-full pl-10 pr-4 py-1.5 min-[96rem]:py-2 bg-transparent border border-white text-white placeholder-white focus:outline-none focus:ring-2 focus:ring-white"
                    >
                </div>
            </form>

            {{ render('atoms.button', {
                href: null,
                variant: 'primary',
                icon: {
                    name: 'close',
                    position: 'right'
                },
                attributes: {
                    'aria-label': 'Close support menu',
                    class: 'min-[96rem]:hidden whitespace-nowrap !py-2.5',
                    'data-component-part': 'support-navigation.toggle-button'
                }
            }) }}

        </div>


        <nav class="max-h-[70vh] min-[96rem]:relative md:max-h-[calc(100dvh-80px)] overflow-y-auto bg-cobblestone-800"
             role="navigation"
             aria-label="Support menu">

            {% macro renderMenu(items, depth) %}
                <ul class="level-{{ depth }} {{ depth == 1 ? 'group' : '' }} [&[data-depth='2']]:bg-cobblestone-700 [&[data-depth='3']]:bg-cobblestone-600"
                    data-component-part="support-navigation.menu"
                    data-depth="{{ depth }}"
                >
                    {% for item in items %}

                        {% set hasChildren = item.children is defined and item.children|length %}
                        {% set isActive = item.isActive is defined and item.isActive %}
                        {% set hasActiveChild = item.children is defined and collect(item.children).some(child => child.isActive is defined and child.isActive) %}

                        {% set attributes = {
                            'aria-haspopup': hasChildren ? 'true' : 'false',
                            'data-toggles-submenu': hasChildren ? 'true' : 'false',
                            'class': [
                                'max-w-[230px] [&>span]:sr-only text-white hover:text-white hover:bg-primary flex items-center justify-center px-2 py-1 ',
                                isActive or hasActiveChild ? 'font-bold active' : '',
                            ]|join(' ')
                        } %}

                        <li class="text-white" data-component-part="support-navigation.menu-item" >
                            <div class="flex justify-between items-stretch flex-grow lg:w-full">

                                {{ render('atoms.button', {
                                    label: item.label,
                                    href: item.href,
                                    variant: 'ghost',
                                    textAlign: 'left',
                                    noSpace: true,
                                    attributes: {
                                        "data-depth": depth,
                                        class: [
                                            "pl-4 [&[data-depth='1']]:text-base [&[data-depth='2']]:text-base [&[data-depth='2']]:pl-4 [&[data-depth='3']]:pl-8 [&[data-depth='4']]:pl-14 [&[data-depth='3']]:text-base [&[data-depth='4']]:text-base [&[data-depth='4']]:italic px-2 py-1.5 text-white hover:text-white hover:bg-primary flex-1",
                                            isActive ? 'font-bold active' : ''
                                        ]|join(' '),
                                    }
                                }) }}

                                {% if hasChildren %}
                                    {% set attributes = attributes|merge({
                                        'aria-expanded': 'false',
                                    }) %}

                                    {{ render('atoms.button', {
                                        label: item.label,
                                        href: null,
                                        variant: 'ghost',
                                        noSpace: true,
                                        icon: hasChildren ? {
                                            name: 'angle-down',
                                            position: 'right'
                                        } : null,
                                        attributes: attributes
                                    }) }}

                                {% endif %}
                            </div>


                            {# Lade Kinder dieses Eintrags #}
                            {% set children = item.children ?? null %}
                            {% if children|length %}
                                {{ _self.renderMenu(children, depth + 1) }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endmacro %}

            {{ _self.renderMenu(items, 1) }}

        </nav>

    </div>
</div>