
{% set reducedSpacing = reducedSpacing|default(false) %}

{% set attributeCollection = attributes|default({})|collect() %}
{% set _additionalClasses = attributeCollection.get('class') %}
{% set _additionalAttributes = attributeCollection.forget(['class']).toArray() %}

<div data-component="molecules.contact">

    {% if heading is defined and heading|length %}
        {{ render('atoms.lined-heading', {text: heading, level: headingLevel|default('h3'), attributes: {class: 'mb-6'}}) }}
    {% endif %}


    <div class="bg-white group relative flex flex-col sm:flex-row {{ reducedSpacing ? ' sm:space-x-4' : ' sm:space-x-8' }} {{ _additionalClasses }} overflow-hidden" {{ attributesToHtml(_additionalAttributes) }}>
        {% if img %}
            <div class="relative overflow-hidden sm:max-w-1/2">
                <figure class="relative h-full aspect-ratio-[400/266] z-20">
                    <img src="{{ img.src }}" width="400" height="266" alt="{{ img.alt ?? '' }}"
                         class="w-full h-full object-cover">

                    <figcaption
                            class="absolute bg-cobblestone/50 z-10 -rotate-90 translate-x-full origin-bottom-left right-0 px-2 py-1 bottom-0 text-sm text-white whitespace-nowrap truncate max-w-[200px]"
                            title="{{ img.caption ?? '' }}">
                        {{ img.caption ?? '' }}
                    </figcaption>
                </figure>
            </div>
        {% endif %}
        <div class="flex flex-col justify-center p-3 {{ reducedSpacing ? 'md:p-4' : 'md:p-8' }} relative z-20">

            {% if title is defined and title %}
                {{ render('atoms.heading', {
                    text: title,
                    level: titleLevel|default('h4'),
                    visualLevel: visualLevel|default('h3'),
                    attributes: {class: 'text-primary mb-3 md:mb-6'}
                }) }}
            {% endif %}
            <div>
                {% if content is defined and content %}
                    {{ content|raw }}
                {% endif %}

                <ul class="space-y-2 mt-2">
                    {% for item in contactItems %}
                        <li class="pl-7">
                            <a href="{{ item.href }}"
                               class="hover:underline relative flex items-center space-x-2 text-primary">
                                {{ render('atoms.icon', { name: item.iconName, attributes: {class: 'text-xl absolute -left-7'}}) }}
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {{ render('atoms.icon', {name: 'phone', attributes: {class: '!hidden md:!block text-[180px] md:text-[320px] text-cobblestone-50/40 absolute right-0 -top-[2rem] z-10'}}) }}

    </div>

</div>